* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: oklch(27.4% 0.006 286.033);
}

body {
    background-color: oklch(96.7% 0.001 286.375);
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

h2 {
    font-size: 32px;
    line-height: 43px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    background-color: white;

    .data-wrapper {
        padding: 30px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 100px;

        p,
        a {
            text-align: center;
        }

        .container {
            padding: 20px;

            display: flex;
            flex-direction: column;
            gap: 10px;

            &.organization-name,
            &.organization-address {
                width: 300px;
            }

            &.organization-name {
                p {
                    &:first-of-type {
                        font-size: small;
                    }

                    &:last-of-type {
                        font-size: x-large;
                        white-space: nowrap;
                    }
                }
            }

            &.organization-address {
                p {
                    font-size: small;
                }

                a {
                    font-size: x-large;
                    white-space: nowrap;
                }
            }

            &.flag-wrapper {
                .flag {
                    width: 76px;
                    height: 90px;
                }
            }
        }
    }

    .nav-wrapper {
        background-color: oklch(27.4% 0.006 286.033);
        width: 100%;
        padding: 15px 0px;

        .nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;

            a {
                width: 140px;
                text-align: center;
                font-size: large;
                color: oklch(98.5% 0 0);
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 100px 50px;

    .container {
        scroll-margin-top: 40px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        background-color: white;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 20px;
        padding: 40px 60px;

        &.programms {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    font-size: x-large;

                    a {
                        color: oklch(54.6% 0.245 262.881);
                    }
                }
            }
        }

        &.photogallery {
            align-items: center;
            gap: 40px;

            .photo-wrapper {
                width: 100%;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }

                p {
                    width: 100%;
                    font-size: xx-large;
                    text-align: center;
                }

                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
}

.footer {
    background-color: oklch(27.4% 0.006 286.033);
    box-shadow: 0 -4px 14px -1px rgb(0 0 0 / 0.2), 0 -2px 4px -2px rgb(0 0 0 / 0.2);
    border-radius: 30px 30px 0 0;

    padding: 30px 50px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    p,
    a,
    h2 {
        color: white;
    }

    p,
    a {
        font-size: large;
    }

    .contacts-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        .contacts {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 10px;

            .contact-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                p,
                a {
                    width: 100%;
                }
            }
        }

        .flag-wrapper {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .flag {
                width: 76px;
                height: 90px;
            }
        }
    }

    .another-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-top: 50px;

        p {
            text-align: center;
            font-size: x-large;
        }
    }
}